* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    background: rgb(56, 100, 195);
    border-radius: 20px;
    
}

.box-cont {
    display: grid;
    gap: 5px;
    grid-auto-rows: 200px;
    grid-auto-columns: 150px;
    grid-template-areas: 
    "box1 box1 box2 box2 box2 box2"
    "box1 box1 box2 box2 box2 box2"
    "box1 box1 box2 box2 box2 box2"
    "box3 box3 box4 box4 box5 box5"
    "box3 box3 box4 box4 box5 box5"   
}